body {
	background-color: gray;
}

.title {
	text-align: center;
	color:purple;
}
.android_pic{
	height: 400px ;
	width:	800px ;
}

.border {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 7px solid #363A6E;
    border-radius: 4px;
    background-color: #b5b1bc;
    resize: none;
    margin-left: 20%;
    text-align: center;
}

.history_header {
    text-align: center;
}